.container {
  width: 100vw;
  min-height: 200px;
  padding: 4rem 0 0;
  background: linear-gradient(90deg, rgb(8, 48, 77) 0%, rgb(170, 25, 69) 100%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.container div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-width: 450px;
}

.container h1 {
  font-size: xx-large;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1;
}

.container ul {
  margin-left: 1.4rem;
  max-width: 300px;
}

.container ul li {
  font-size: large;
  font-weight: 400;
  color: #FFF;
}

.container img{
  max-width: 450px;
}

@media (max-width: 720px) {
  .container {
    padding: 2rem 2rem 0 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container img{
    margin-top: 1.6rem;
    width: 80%;
  }
}